{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Welcome to our MPG Page</h1>
  <p>Please select one of the links from the nav bar.</p>
</div>
{% endblock %}












{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{#<h1>Your previous mileage was</h1>#}
{#    {% for miles in current_mileage %}#}
{#        <li>{{ miles }}</li>#}
{##}
{#    {% endfor %}#}
{##}
{##}
{#    <form method="POST">#}
{#        {{ form.hidden_tag() }}#}
{#        {{ form.current_mileage.label }} {{ form.current_mileage }}#}
{#        <br>#}
{#        {{ form.previous_mileage.label }} {{ form.previous_mileage }}#}
{#        <br>#}
{#        {{ form.gallons_purchased.label }} {{ form.gallons_purchased }}#}
{#        <br>#}
{#        {{ form.submit }}#}
{#    </form>#}
{#</body>#}
{#</html>#}